html {
    height: 100%;
}

body {
    line-height: 1.6;
    color: #333333;
    direction: rtl;
	margin:0;
}

a {
    color: inherit;
    text-decoration: none;
}

.cmp-title {
	width: 100vw;
	color: black;
    position: relative;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
	background: linear-gradient(115deg, rgba(222, 222, 222, 0.22) 0%,rgba(224, 224, 224, 0.3) 50%,rgba(216, 216, 216, 0.53) 50%,rgba(226, 226, 226, 0.28) 100%);
}

.cmp-title,.cmp-title .important{
	font-size: 14px;
}

 .cmp-cover {
	width: 100%;
    object-fit: cover;
    display: block;
	transition: all ease .1s;
}

.columns {
	float: left;
	box-sizing: border-box; 
	margin-left: 8px;
	overflow: hidden;
	will-change: transform;
}
.columns:first-child {margin-left: 0;}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding: 0 4px;
    box-sizing: border-box;
}

.side-cmps {
    transform-style: preserve-3d;
    margin: 8px 0 0 0;
}

.call-to-action {
	height: 30px;
    position: relative;
    display: block;
	box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 2px;
    text-align: center;
	text-shadow: none;
    background: linear-gradient(270deg, #f2144d, #1498f2, #e83ccb);
    background-size: 600% 600%;
    animation: attract 10s ease infinite;
    -webkit-animation: attract 10s ease infinite;
    -moz-animation: attract 10s ease infinite;
}

.container:after,
.row:after{
    content: "";
    display: table;
    clear: both;
}

a.columns:hover > .cmp > .call-to-action {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #415267 0%, #090a0f 100%);
}

@-webkit-keyframes attract {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@-moz-keyframes attract {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@keyframes attract {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}	



.badge_text{  
    position: absolute;
    display: inline-block;
    height: 27px;
    transform: rotate(-45deg);
	
    font-family: iransans;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    text-align: center;
	
	background: #de1b31;
	
	/*background: linear-gradient(270deg, #ff001d, #004eff, #00ff1f);
    background-size: 600% 600%;
	

    animation: attract 10s ease infinite;
    -webkit-animation: attract 10s ease infinite;
    -moz-animation: attract 10s ease infinite;*/
}